server {
    server_name vavilova15.tom.ru;
    listen 443 ssl;

    ssl_certificate /etc/letsencrypt/live/vavilova15.tom.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/vavilova15.tom.ru/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/vavilova15.tom.ru/chain.pem;

    root {{ www.root }};
    index index.html;
    ssi on;

    location ~ /\. {
        deny all;
    }
}
